.navbar {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: calc(100% - 60px);

    display: flex;
    
    margin: 0 auto;

    justify-content: space-between;
    align-items: center; 
}

.logo {
    width: 120px;
    height: auto;
}

.navbar-menu-button {
    min-width: 88px;
    min-height: 88px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $white;

    transition: .3s all ease-in-out;

    .menu-line {
        width: 18px;
        height: 0.15em;

        margin-bottom: 3.5px;
        box-sizing: border-box;
         
        background: $purple-dark;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        //do stuff
        cursor: pointer;
    }
}

.navbar__list {
    padding: 0;

    list-style: none;
}

.navbar__list-item {
    position: relative;
    display: inline-block;
    margin: auto 30px;

    &:after {
        position: absolute;
        right: -31px;
        top: 50%;
        transform: translateX(50%);

        width: 2.5px;
        height: 2.5px;

        background: $white;
        border-radius: 50%; 

        content: '';
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

@include mq-regular {
    .navbar {
        max-width: 1440px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@include mq-extra-narrow {
    .navbar {
        top: 20px;
    }
}

@media screen and (max-width: 900px) {
    .navbar__list {
        display: none;
    }
}