.section__container {
    margin: 0 auto;

    padding-left: 30px;
    padding-right: 30px;
}

@include mq-regular {
    .section__container {
        max-width: 1440px;
        padding-left: 0;
        padding-right: 0;
    }
}