.home__content {
    text-align: center
}

.home__paragraph {
    max-width: 500px;

    margin: auto;
}

.home__subheading {
    margin: 100px 0 0 0; 
}

.home__heading {
    margin: 0 0 20px 0;
}

.home__button-decouvrir {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}